.root{
    -fx-background-color: linear-gradient(#585858,#383838) ;
}
.label{
    -fx-text-fill: F8F8F8;
}
Button{
    -fx-background-color: linear-gradient(#7cafc2,#86c1b9);
    -fx-text-fill: #000000;
}
Button:hover{
    -fx-background-color: linear-gradient(#12e136, #50e58d);
    -fx-text-fill: #000000;
}

